.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
    text-align: center;
}
.header
{
	color: white;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 42px;letter-spacing: 10px;margin-top: 80px;
    text-align: center;
}
.header img
{
	width: 80px;margin-left: -15px;
    text-align: center;
}
body{
    background-color: rgb(18, 17, 17);
    text-align: center;
    
}
#login_section{
   
    text-align: center;
}
#user_name{
   
    width:180px;
    margin-left: 135px;
    margin-top: 15px;

}
.user_name_label{
    font-size: 20px;
    color:rgb(181, 166, 37);
    margin-bottom: 10px;
    
}
#login_button{
    margin-top:20px;
    width: 100px;
}
#logo_img{
    height:280px;
    width:140px;
    
}
#background_img{
    height:800px;
    width:1450px;
}
.certified{
  -webkit-text-fill-color: aliceblue;
}
#header1{
    -webkit-text-fill-color: aliceblue;
    font-size:50px;
    font-family: 'Times New Roman', Times, serif;
}
#carousel_title{
    -webkit-text-fill-color: aliceblue;
}
.bootstrap_img{
    height:200px;
    width:300px;
}
.text_colour{
    -webkit-text-fill-color: aliceblue;
}
.checkout{
    color: aliceblue;
    font-size:50px;
    font-family: 'Times New Roman', Times, serif;
}

